/* Utils */
.text-center {
	text-align: center;
}

.spacer {
	--space: 2em;
	margin-top: var(--space);
}

/* Card */
div.card {
	--max-width: 800px;

	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
}

/* Forms */
form.form, div.form {
	--max-width: 800px;

	max-width: var(--max-width);
	margin-left: auto;
	margin-right: auto;
	padding: 1em;

	border: 1px solid #e0e0e0;
	border-radius: 4px;
}